/* This is a partial SCSS file */

/* This code is copied & modified from
http://refills.bourbon.io/
MIT License
*/

$medium-screen: em(640) !default;
$large-screen: em(860) !default;

// Uncomment this for a sticky nav.
.wrapper-for-content-outside-of-nav {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.wrapper-for-content-outside-of-nav:after {
  content: "";
  display: block;
}

.stickynav, .wrapper-for-content-outside-of-nav:after {
  height: 17em;
  @include media($large-screen) {
    height: 4em;
  }
}

.stickynav {
  $base-spacing: 1.5em !default;
  $nav-background: lighten($theme-color, 15%);
  $nav-hover-color: $white;
  $nav-text-color: transparentize($nav-hover-color, 0.6);
  $nav-link-color: transparentize($nav-hover-color, 0.3);

  background: $nav-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .nav-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .nav-logo {
    height: 1.6em;
    line-height: 0.6em;
    a i {
      font-size: 1.75em;
      color: $nav-hover-color;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    color: $nav-text-color;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $nav-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $nav-hover-color
    }
  }

  .nav-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.nav-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }

        i {
          font-size: 1.5em;
        }
      }
    }
  }
}
